.armor-class-show-section {
  min-width: 0;
}

.armor-class-edit-section {
  display: grid;
  grid-template-columns: 90px auto 25px 50px;
  grid-template-rows: auto 5px auto 5px auto auto;
  grid-column-gap: 5px;
  align-items: center;
  width: 100%;
}

.armor-class-edit-section__armor-class-label { grid-area: 1 / 1; }
.armor-class-edit-section__armor-class-input { grid-area: 1 / 2; }

.armor-class-edit-section__armor-type-label { grid-area: 3 / 1; }
.armor-class-edit-section__armor-type-input { grid-area: 3 / 2; }
.armor-class-edit-section__shield-input {
  grid-area: 3 / 3;
  justify-self: end;
}
.armor-class-edit-section__shield-label { grid-area: 3 / 4; }

.armor-class-edit-section__use-custom-input {
  grid-area: 5 / 1;
  justify-self: end;
}
.armor-class-edit-section__use-custom-label { grid-area: 5 / 2 / 6 / 5; }
.armor-class-edit-section__custom-input { grid-area: 6 / 2 / 7 / 5; }
