.hit-points-edit-section {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto 5px auto auto;
  grid-column-gap: 5px;
  align-items: center;
}

.hit-points-edit-section__hit-points-label {
  grid-area: 1 / 1;
}

.hit-points-edit-section__hit-points-input {
  grid-area: 1 / 2;
}

.hit-points-edit-section__use-hit-die-input {
  grid-area: 3 / 1;
  justify-self: end;
}

.hit-points-edit-section__use-hit-die-label {
  grid-area: 3 / 2;
}

.hit-points-edit-section__hit-die-calculation-container {
  grid-area: 4 / 2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  border: 1px solid Gray;
  padding: 5px;
}

.hit-points-edit-section__hit-die-quantity-label {
  grid-area: 1 / 2;
}

.hit-points-edit-section__hit-die-size-label {
  grid-area: 1 / 3;
}

.hit-points-edit-section__hit_die-leading-text {
  grid-area: 2 / 1;
  justify-self: end;
}

.hit-points-edit-section__hit-die-quantity-input {
  grid-area: 2 / 2;
}

.hit-points-edit-section__hit-die-size-input {
  grid-area: 2 / 3;
}

.hit-points-edit-section__hit-die-trailing-text {
  grid-area: 2 / 4;
}
