:host {
  display: flex;
  justify-content: flex-start;
}

.container {
  display: inline-block;
  margin-top: 60px;
  margin-left: 20px;
}

.bar {
  height: 5px;
  background: #E69A28;
  border: 1px solid #000;
  position: relative;
  z-index: 1;
}

.content-wrap {
  background: #FDF1DC;
  padding: 0.6em;
  padding-bottom: 0.5em;
  border: 1px #DDD solid;
  box-shadow: 0 0 1.5em #867453;

  /* We don't want the box-shadow in front of the bar divs. */
  position: relative;
  z-index: 0;

  /* Leaving room for the two bars to protrude outwards */
  margin-left: 2px;
  margin-right: 2px;

  /* This is possibly overriden by next CSS rule. */
  width: 400px;

  column-width: 400px;
  column-gap: 40px;
  column-count: 1;

  /* We can't use CSS3 attr() here because no browser currently supports it,
     but we can use a CSS custom property instead. */
  height: var(--statblock-content-height);

  /* By default, balance the content between the columns */
  column-fill: balance-all;

  /* Hide any content that overflows into a 3rd column. */
  overflow: hidden;
}

:host([data-two-column]) .content-wrap {
  column-count: 2;

  /* One column is 400px and the gap between them is 40px. */
  width: 840px;
}

:host([style^="--statblock-content-height"]) .content-wrap {
  /* When the height is manually set, fill columns sequentially. */
  column-fill: auto;
}

::slotted(h3) {
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 0.58em;
  margin-bottom: 0.3em;

  break-inside: avoid-column;
  break-after: avoid-column;
}

/* For user-level p elems. */
::slotted(p) {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
  line-height: 1.5;
}
