:host {
  font-family: inherit;
}

.stat-block-editor__components {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.stat-block-editor__dialog-list {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(stat-block-menu) {
  grid-area: 1 / 1 / 2 / 3;
}

::slotted(stat-block-sidebar) {
  grid-area: 2 / 1;
}

::slotted(stat-block) {
  grid-area: 2 / 2;
}