.stat-block-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  background: #606060;
  width: 100%;
  height: 48px;
  z-index: 2;
}

.stat-block-menu__controls {
  display: flex;
  width: 420px;
  margin-left: 95px;
}

.stat-block-menu__control-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.stat-block-menu__radio-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.stat-block-menu__radio-label {
  flex: 1 1 auto;
}

.stat-block-menu__publish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  width: 200px;
}

.stat-block-menu__menu-items {
  display: flex;
  flex-direction: column;
}

.stat-block-menu__label {
  color: white;
  font-weight: bold;
}

.stat-block-menu__all-sections-button {
  flex: 1 1 auto;
  width: 100%;
}
