.error-highlight {
  border-color: red;
  border-style: double;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section_selectable:hover {
  background: #FFCCCC;
  transition: background 500ms;
  cursor: pointer;
}

.section_hidden {
  display: none;
}

.section__content {
  display: block;
}

.section__content-line {
  display: flex;
  justify-content: space-between;
}

.section__content-block {
  display: block;
}

.section__action {
  all: initial;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.section__action_hidden {
  display: none;
}

.section__save-action {
  border: 1px solid silver;
  max-height: 50px;
  margin-left: 10px;
}

.section__save-action:hover {
  background: #90FF70;
  transition: background 500ms;
}
