:root {
  --section-transition-duration: 250ms;
}

input[type="number"] {
  width: 40px;
}

input[type="text"] {
  width: 100%;
}

.error-highlight {
  border-color: red;
  border-style: double;
}

.section-divider {
  display: block;
  height: 0;
  opacity: 0;
  transition: opacity var(--section-transition-duration) ease-out 0ms, height 0ms linear var(--section-transition-duration);
}

.section-divider_visible-for-previous,
.section-divider_visible-for-next {
  height: 100%;
  opacity: 1;
  transition: opacity var(--section-transition-duration) ease-out var(--section-transition-duration), height 0ms linear var(--section-transition-duration);
}

.section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  opacity: 1;
  transition: opacity var(--section-transition-duration) ease-out var(--section-transition-duration), height 0ms linear var(--section-transition-duration);
}

.section_selectable:hover {
  background: #FFCCCC;
  cursor: pointer;
}

.section_hidden {
  height: 0;
  opacity: 0;
  transition: opacity var(--section-transition-duration) ease-out 0ms, height 0ms linear var(--section-transition-duration);
}

.section__header-label {
  font-weight: bold;
}

.section__action {
  all: initial;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 13.5px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.section__action_hidden {
  display: none;
}

.section__save-action {
  border: 1px solid silver;
  margin-left: 10px;
}

.section__save-action:hover {
  background: #90FF70;
}
