input[type="number"] {
  width: 40px;
}

input[type="text"] {
  width: 100%;
}

.error-highlight {
  border-color: red;
  border-style: double;
}

.hidden {
  display: none;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section_selectable:hover {
  background: #FFCCCC;
  transition: background 500ms;
  cursor: pointer;
}

.section_hidden {
  display: none;
}

.section__header-label {
  font-weight: bold;
}

.section__action {
  all: initial;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 13.5px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.section__action_hidden {
  display: none;
}

.section__save-action {
  border: 1px solid silver;
  margin-left: 10px;
}

.section__save-action:hover {
  background: #90FF70;
  transition: background 500ms;
}
