body {
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
               sans-serif;
  font-size: 13.5px;
  margin: 0;
}

.stat-block-editor {
  display: block;
  user-select: none;
}

.stat-block-editor_hidden {
  display: none;
}
