.list-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid Gray;
  padding: 5px;
}

.list-item__container:hover {
  background: LightCyan;
  cursor: move;
}

.list-item__container_dragover-top {
  border-top: solid 10px DodgerBlue;
}

.list-item__container_dragover-bottom {
  border-bottom: solid 10px DodgerBlue;
}

.list-item__label {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: move;
}

.list-item__remove-button:hover {
  cursor: pointer;
}
