.error-messages {
  background: #EEEEEE;
  color: red;
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-messages_hidden {
  display: none;
}

.error-messages__list {
  list-style-type: none;
  white-space: pre-wrap;
  padding: 5px;
  margin: 0;
}
