.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 1;
}

.loading-screen_hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;

  animation: hide-loading-screen 1s linear;
}

.loading-screen__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.loading-screen__animation {
  border: 20px solid lightgray;
  border-top: 20px solid #7A200D;
  border-bottom: 20px solid #7A200D;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loading-screen__status {
  font-weight: bold;
  margin-top: 50px;
}

@keyframes hide-loading-screen {
  from {
    opacity: 1;
    visibility: visible;
    height: 100vh;
  }

  50% {
    opacity: 1;
    visibility: visible;
    height: 100vh;
  }

  to {
    opacity: 0;
    visibility: hidden;
    height: 100vh;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}