.section-divider {
  opacity: 1;
  max-height: 100%;
  overflow: visible;
  visibility: visible;

  animation: show-section var(--section-animation-duration) ease-out;
}

.section-divider_hidden {
  opacity: 0;  
  max-height: 0;
  overflow: hidden;
  visibility: hidden;

  animation: hide-section var(--section-animation-duration) ease-in;
}

.section-divider__line {
  fill: Gray;
  stroke: Gray;
  margin-top: 0.6em;
  margin-bottom: 0.35em;
}
