.section-divider {
  max-height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--section-transition-duration) ease-out var(--section-transition-duration),
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration);
}

.section-divider_hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--section-transition-duration) ease-in 0ms,
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration);
}

.section-divider__line {
  fill: Gray;
  stroke: Gray;
  margin-top: 0.6em;
  margin-bottom: 0.35em;
}
