:host {
  width: 100%;
  height: 100%;
}

.slide-toggle {
  width: 100%;
  height: 100%;
}

.slide-toggle__checkbox {
  display: none;
}

.slide-toggle__label {
  width: 100%;
  height: 100%;
}

.slide-toggle__control {
  position: relative;
  width: 100%;
  height: 100%;
  background: #888888;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.slide-toggle__control:hover {
  background: #999999;
}

.slide-toggle__control:before,
.slide-toggle__control:after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: bold;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.slide-toggle__horizontal-control:before,
.slide-toggle__horizontal-control:after {
  top: 3px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
}

.slide-toggle__vertical-control:before,
.slide-toggle__vertical-control:after {
  left: 3px;
  height: calc(50% - 3px);
  width: calc(100% - 6px);
}

.slide-toggle__control:before {
  background: #90FF70;
  color: black;
  z-index: 1;
  content: attr(data-unchecked-text);
}

.slide-toggle__horizontal-control:before {
  left: 3px;
}

.slide-toggle__vertical-control:before {
  top: 3px;
}

.slide-toggle__control:after {
  content: attr(data-checked-text);
}

.slide-toggle__horizontal-control:after {
  right: 0;
}

.slide-toggle__vertical-control:after {
  bottom: 0;
}

.slide-toggle__checkbox:checked + .slide-toggle__label > .slide-toggle__control:before {
  content: attr(data-checked-text)
}

.slide-toggle__checkbox:checked + .slide-toggle__label > .slide-toggle__horizontal-control:before {
  left: 50%;
}

.slide-toggle__checkbox:checked + .slide-toggle__label > .slide-toggle__vertical-control:before {
  top: 50%;
}

.slide-toggle__checkbox:checked + .slide-toggle__label > .slide-toggle__control:after {
  content: attr(data-unchecked-text)
}

.slide-toggle__checkbox:checked + .slide-toggle__label > .slide-toggle__horizontal-control:after {
  left: 0;
}

.slide-toggle__checkbox:checked + .slide-toggle__label > .slide-toggle__vertical-control:after {
  top: 0;
}