.spell-category__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaaaaa;
  min-height: 122px;
  padding: 5px;
  margin: 5px;
}

.spell-category__heading {
  font-weight: bold;
  font-style: italic;
}

.spell-category__property-list {
  margin-top: 5px;
}