.spell-category__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaaaaa;
  min-height: 126px;
  width: 228px;
  padding: 5px;
  margin: 5px;
}

.spell-category__container_disabled {
  background: #eeeeee;
}

.spell-category__heading {
  font-weight: bold;
  font-style: italic;
}

.spell-category__property-list {
  margin: 5px 5px 0 5px;
}

.spell-category__property-list_hidden {
  display: none;
}