.armor-class-show-section {
  min-width: 0;
}

.armor-class-edit-section {
  display: flex;
  flex-direction: column;
}

.armor-class-edit-section__armor-class-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.armor-class-edit-section__armor-class-label {
  flex: 0 0 95px;
}

.armor-class-edit-section__armor-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.armor-class-edit-section__armor-type-label {
  flex: 0 0 95px;
}

.armor-class-edit-section__armor-type-input {
  flex: 1 1 auto;
}

.armor-class-edit-section__shield-input {
  flex: 1 1 auto;
}

.armor-class-edit-section__shield-label {
  flex: 1 1 auto;
}

.armor-class-edit-section__custom-container {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  margin-top: 5px;
}

.armor-class-edit-section__use-custom-input {
  grid-area: 1 / 1;
  justify-self: end;
}
.armor-class-edit-section__use-custom-label { grid-area: 1 / 2; }
.armor-class-edit-section__custom-text-help-tooltip { 
  grid-area: 2 / 1; 
  justify-self: end;
  align-self: end;
}
.armor-class-edit-section__custom-input { grid-area: 2 / 2; }
