.block-list-section__heading {
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  
  break-inside: avoid-column;
  break-after: avoid-column;

  opacity: 1;
  max-height: 100%;
  margin: 0.3em 0;
  overflow: visible;
  visibility: visible;

  animation: show-block-section-heading var(--section-animation-duration) ease-out;
}

.block-list-section__heading_hidden {  
  opacity: 0;  
  max-height: 0;
  margin: 0;
  overflow: hidden;
  visibility: hidden;

  animation: hide-block-section-heading var(--section-animation-duration) ease-in;
}

.block-list-section__empty-label {
  font-weight: bold;
  cursor: pointer;
}

.block-list-section__empty-label_hidden {
  display: none;
}

.block-list-section__button-container {
  display: flex;
  flex-direction: row;
}

.block-list-section__add-button {
  flex: 1 1 auto;
  padding: 5px;
}

