.block-list-section__heading {
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.3em;

  break-inside: avoid-column;
  break-after: avoid-column;

  max-height: 100%;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition: opacity var(--section-transition-duration) ease-out var(--section-transition-duration),
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration),
              margin 0ms linear var(--section-transition-duration);
}

.block-list-section__heading_hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  transition: opacity var(--section-transition-duration) ease-in 0ms,
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration),
              margin 0ms linear var(--section-transition-duration);
}

.block-list-section__empty-label {
  font-weight: bold;
  cursor: pointer;
}

.block-list-section__empty-label_hidden {
  display: none;
}

.block-list-section__button-container {
  display: flex;
  flex-direction: row;
}

.block-list-section__add-button {
  flex: 1 1 auto;
  padding: 5px;
}

