.challenge-rating-edit-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  align-items: center;
  justify-items: center;
}

.challenge-rating-edit-section__challenge-rating-label {
  grid-area: 1 / 1;
}

.challenge-rating-edit-section__challenge-rating-input {
  grid-area: 1 / 2;
  width: 50px;
}

.challenge-rating-edit-section__experience-points-label {
  grid-area: 1 / 3;
}

.challenge-rating-edit-section__experience-points-input {
  grid-area: 1 / 4;
  width: 70px;
}

.challenge-rating-edit-section__proficiency-bonus-label {
  grid-area: 2 / 3;
}

.challenge-rating-edit-section__proficiency-bonus-input {
  grid-area: 2 / 4;
  width: 70px;
}
