.legendary-actions-edit-section {
  display: flex;
  flex-direction: column;
}

.legendary-actions-show-section__text {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
  line-height: 1.5;
}

.legendary-actions-show-section__text_hidden {
  display: none;
}

.legendary-actions-edit-textarea-container {
  margin-right: 5px;
}

.legendary-actions-edit-textarea {
  width: 100%;
  font-family: monospace;
  resize: none;
}