.property-list-edit-section {
  display: flex;
  flex-direction: row;
}

.property-list-edit-section__heading-label {
  flex: 0 0 110px;
}

.property-list-edit-section__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}