.property-list-edit-section {
  display: flex;
  flex-direction: row;
}

.property-list-edit-section__heading-label {
  flex: 0 0 110px;
}

.property-list-edit-section__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.property-list-edit-section__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.property-list-edit-section__input {
  flex: 1 1 auto;
}

.property-list-edit-section__add-button {
  padding: 0 12px;
  margin: 0 4px 0 5px;
}

.property-list-edit-section__list {
  margin-top: 5px;
}
