.property-list-edit-section {
  display: flex;
  flex-direction: row;
}

.property-list-edit-section__heading-label {
  flex: 0 0 110px;
}

.property-list-edit-section__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.property-list-edit-section__input-container {
  display: flex;
  flex-direction: row;
}

.property-list-edit-section__input {
  flex: 1 1 auto;
}

.property-list-edit-section__add-button {
  margin-left: 5px;
  margin-right: 4px;
}

.property-list-edit-section__list {
  margin-top: 5px;
}
