.section {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--section-transition-duration) ease-out var(--section-transition-duration),
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration);
}

.section_hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--section-transition-duration) ease-in 0ms,
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration);
}

.section_selectable:hover {
  background: #FFCCCC;
  cursor: pointer;
}

.section_empty {
  color: Gray;
}

.section__header-label {
  font-weight: bold;
}

.section__label_disabled {
  color: Gray;
}

.section__text-input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
  height: 25px;
}

.section__number-input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 25px;
}

.section__small-number-input {
  width: 40px;
}

.section__select {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 25px;
}

.section__textarea {
  font-family: inherit;
  font-size: inherit;
}

.section__text-input:invalid,
.section__number-input:invalid {
  border: 2px solid red;
}

.section__action {  
  width: 55px;
  height: 100%;
  max-height: 55px;
  justify-self: end;
}

.section__action_hidden {
  display: none;
}
