.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: relative;

  opacity: 1;
  max-height: 100%;
  overflow: visible;
  visibility: visible;

  animation: show-section var(--section-animation-duration) ease-out;
}

.section_hidden {
  opacity: 0;  
  max-height: 0;
  overflow: hidden;
  visibility: hidden;

  animation: hide-section var(--section-animation-duration) ease-in;
}

.section_selectable:hover {
  background: #FFCCCC;
  cursor: pointer;
}

.section_selectable:active {
  background: #FFDDDD;
}

.section_selectable:hover .section__edit-label {
  display: inline-flex;
}

.section_empty {
  color: Gray;
}

.section__content {
  flex: 1 1 auto;
  align-self: center;
}

.section__heading-label {
  font-weight: bold;
}

.section__label_disabled {
  color: Gray;
}

.section__text-input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 24px;
}

.section__number-input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 24px;
}

.section__small-number-input {
  width: 50px;
}

.section__select {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 24px;
}

.section__textarea {
  font-family: inherit;
  font-size: inherit;
}

.section__save-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__save-button {  
  flex: 1 1 auto;
  position: absolute;
  left: 410px;
  width: 25px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  z-index: 1;
}

.section__edit-label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__edit-label {
  position: absolute;
  left: 410px;
  color: #7A200D;
  z-index: 1;
}

.section__edit-label_hidden {
  display: none;
}

.section__error-highlight {
  border: 2px solid red;
}