.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  max-height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--section-transition-duration) ease-out var(--section-transition-duration),
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration);
}

.section_hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--section-transition-duration) ease-in 0ms,
              max-height 0ms linear var(--section-transition-duration),
              visibility 0ms linear var(--section-transition-duration);
}

.section_selectable:hover {
  background: #FFCCCC;
  cursor: pointer;
}

.section_empty {
  color: Gray;
}

.section__content {
  flex: 1 1 auto;
  align-self: center;
}

.section__header-label {
  font-weight: bold;
}

.section__label_disabled {
  color: Gray;
}

.section__text-input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 24px;
}

.section__number-input {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 24px;
}

.section__small-number-input {
  width: 50px;
}

.section__select {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  height: 24px;
}

.section__textarea {
  font-family: inherit;
  font-size: inherit;
}

.section__action-container {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.section__action {  
  flex: 1 1 auto;
  max-width: 40px;
  max-height: 40px;  
}

.section__action_hidden {
  display: none;
}

.section__error-highlight {
  border: 2px solid red;
}