.senses-show-section {
  min-width: 0;
}

.senses-edit-section {
  display: grid;
  grid-template-columns: 60px auto auto auto auto;
  grid-template-rows: auto auto auto auto 5px auto 5px auto auto;
  grid-column-gap: 5px;
  align-items: center;
}

.senses-edit-section__senses-label { grid-area: 1 / 1; }

.senses-edit-section__blindsight-label { grid-area: 1 / 2; }
.senses-edit-section__blindsight-input { grid-area: 1 / 3; }
.senses-edit-section__blindsight-unit { grid-area: 1 / 4; }
.senses-edit-section__blind-beyond-this-radius-container {
  grid-area: 1 / 5 / 3 / 6;
  align-self: start;
  display: flex;
  margin-top: 3px;
}

.senses-edit-section__darkvision-label { grid-area: 2 / 2; }
.senses-edit-section__darkvision-input { grid-area: 2 / 3; }
.senses-edit-section__darkvision-unit { grid-area: 2 / 4; }

.senses-edit-section__tremorsense-label { grid-area: 3 / 2; }
.senses-edit-section__tremorsense-input { grid-area: 3 / 3; }
.senses-edit-section__tremorsense-unit { grid-area: 3 / 4; }

.senses-edit-section__truesight-label { grid-area: 4 / 2; }
.senses-edit-section__truesight-input { grid-area: 4 / 3; }
.senses-edit-section__truesight-unit { grid-area: 4 / 4; }

.senses-edit-section__passive-perception-help-tooltip {
  grid-area: 6 / 1;
  justify-self: end;
  align-self: center;
  --help-tooltip-icon-color: #7A200D;
  --help-tooltip-width: 55em;
}

.senses-edit-section__passive-perception-label { grid-area: 6 / 2; }
.senses-edit-section__passive-perception-value { grid-area: 6 / 3; }

.senses-edit-section__use-custom-text-input {
  grid-area: 8 / 1;
  justify-self: end;
}
.senses-edit-section__use-custom-text-label { grid-area: 8 / 2 / 9 / 6; }
.senses-edit-section__custom-text-help-tooltip {
  grid-area: 9 / 1;
  justify-self: end;
  align-self: end;
}
.senses-edit-section__custom-text-input { grid-area: 9 / 2 / 10 / 6; }
