.skills-edit-section {
  display: grid;
  grid-template-columns: 20px 150px 40px auto auto;
  grid-template-rows: auto 5px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 5px;
  align-items: center;
  justify-items: center;
}

.skills-edit-section__skills-label {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: start;
}
.skills-edit-section__proficient-label { grid-area: 1 / 4; }
.skills-edit-section__override-label { grid-area: 1 / 5; }

.skills-edit-section__acrobatics-enable { grid-area: 3 / 1; }
.skills-edit-section__acrobatics-label { grid-area: 3 / 2; }
.skills-edit-section__acrobatics-skill-modifier { grid-area: 3 / 3; }
.skills-edit-section__acrobatics-proficient { grid-area: 3 / 4; }
.skills-edit-section__acrobatics-override { grid-area: 3 / 5; }

.skills-edit-section__animal-handling-enable { grid-area: 4 / 1; }
.skills-edit-section__animal-handling-label { grid-area: 4 / 2; }
.skills-edit-section__animal-handling-skill-modifier { grid-area: 4 / 3; }
.skills-edit-section__animal-handling-proficient { grid-area: 4 / 4; }
.skills-edit-section__animal-handling-override { grid-area: 4 / 5; }

.skills-edit-section__arcana-enable { grid-area: 5 / 1; }
.skills-edit-section__arcana-label { grid-area: 5 / 2; }
.skills-edit-section__arcana-skill-modifier { grid-area: 5 / 3; }
.skills-edit-section__arcana-proficient { grid-area: 5 / 4; }
.skills-edit-section__arcana-override { grid-area: 5 / 5; }

.skills-edit-section__athletics-enable { grid-area: 6 / 1; }
.skills-edit-section__athletics-label { grid-area: 6 / 2; }
.skills-edit-section__athletics-skill-modifier { grid-area: 6 / 3; }
.skills-edit-section__athletics-proficient { grid-area: 6 / 4; }
.skills-edit-section__athletics-override { grid-area: 6 / 5; }

.skills-edit-section__deception-enable { grid-area: 7 / 1; }
.skills-edit-section__deception-label { grid-area: 7 / 2; }
.skills-edit-section__deception-skill-modifier { grid-area: 7 / 3; }
.skills-edit-section__deception-proficient { grid-area: 7 / 4; }
.skills-edit-section__deception-override { grid-area: 7 / 5; }

.skills-edit-section__history-enable { grid-area: 8 / 1; }
.skills-edit-section__history-label { grid-area: 8 / 2; }
.skills-edit-section__history-skill-modifier { grid-area: 8 / 3; }
.skills-edit-section__history-proficient { grid-area: 8 / 4; }
.skills-edit-section__history-override { grid-area: 8 / 5; }

.skills-edit-section__insight-enable { grid-area: 9 / 1; }
.skills-edit-section__insight-label { grid-area: 9 / 2; }
.skills-edit-section__insight-skill-modifier { grid-area: 9 / 3; }
.skills-edit-section__insight-proficient { grid-area: 9/ 4; }
.skills-edit-section__insight-override { grid-area: 9 / 5; }

.skills-edit-section__intimidation-enable { grid-area: 10 / 1; }
.skills-edit-section__intimidation-label { grid-area: 10 / 2; }
.skills-edit-section__intimidation-skill-modifier { grid-area: 10 / 3; }
.skills-edit-section__intimidation-proficient { grid-area: 10 / 4; }
.skills-edit-section__intimidation-override { grid-area: 10 / 5; }

.skills-edit-section__investigation-enable { grid-area: 11 / 1; }
.skills-edit-section__investigation-label { grid-area: 11 / 2; }
.skills-edit-section__investigation-skill-modifier { grid-area: 11 / 3; }
.skills-edit-section__investigation-proficient { grid-area: 11 / 4; }
.skills-edit-section__investigation-override { grid-area: 11 / 5; }

.skills-edit-section__medicine-enable { grid-area: 12 / 1; }
.skills-edit-section__medicine-label { grid-area: 12 / 2; }
.skills-edit-section__medicine-skill-modifier { grid-area: 12 / 3; }
.skills-edit-section__medicine-proficient { grid-area: 12 / 4; }
.skills-edit-section__medicine-override { grid-area: 12 / 5; }

.skills-edit-section__nature-enable { grid-area: 13 / 1; }
.skills-edit-section__nature-label { grid-area: 13 / 2; }
.skills-edit-section__nature-skill-modifier { grid-area: 13 / 3; }
.skills-edit-section__nature-proficient { grid-area: 13 / 4; }
.skills-edit-section__nature-override { grid-area: 13 / 5; }

.skills-edit-section__perception-enable { grid-area: 14 / 1; }
.skills-edit-section__perception-label { grid-area: 14 / 2; }
.skills-edit-section__perception-skill-modifier { grid-area: 14 / 3; }
.skills-edit-section__perception-proficient { grid-area: 14 / 4; }
.skills-edit-section__perception-override { grid-area: 14 / 5; }

.skills-edit-section__performance-enable { grid-area: 15 / 1; }
.skills-edit-section__performance-label { grid-area: 15 / 2; }
.skills-edit-section__performance-skill-modifier { grid-area: 15 / 3; }
.skills-edit-section__performance-proficient { grid-area: 15 / 4; }
.skills-edit-section__performance-override { grid-area: 15 / 5; }

.skills-edit-section__persuasion-enable { grid-area: 16 / 1; }
.skills-edit-section__persuasion-label { grid-area: 16 / 2; }
.skills-edit-section__persuasion-skill-modifier { grid-area: 16 / 3; }
.skills-edit-section__persuasion-proficient { grid-area: 16 / 4; }
.skills-edit-section__persuasion-override { grid-area: 16 / 5; }

.skills-edit-section__religion-enable { grid-area: 17 / 1; }
.skills-edit-section__religion-label { grid-area: 17 / 2; }
.skills-edit-section__religion-skill-modifier { grid-area: 17 / 3; }
.skills-edit-section__religion-proficient { grid-area: 17 / 4; }
.skills-edit-section__religion-override { grid-area: 17 / 5; }

.skills-edit-section__sleight-of-hand-enable { grid-area: 18 / 1; }
.skills-edit-section__sleight-of-hand-label { grid-area: 18 / 2; }
.skills-edit-section__sleight-of-hand-skill-modifier { grid-area: 18 / 3; }
.skills-edit-section__sleight-of-hand-proficient { grid-area: 18 / 4; }
.skills-edit-section__sleight-of-hand-override { grid-area: 18 / 5; }

.skills-edit-section__stealth-enable { grid-area: 19 / 1; }
.skills-edit-section__stealth-label { grid-area: 19 / 2; }
.skills-edit-section__stealth-skill-modifier { grid-area: 19 / 3; }
.skills-edit-section__stealth-proficient { grid-area: 19 / 4; }
.skills-edit-section__stealth-override { grid-area: 19 / 5; }

.skills-edit-section__survival-enable { grid-area: 20 / 1; }
.skills-edit-section__survival-label { grid-area: 20 / 2; }
.skills-edit-section__survival-skill-modifier { grid-area: 20 / 3; }
.skills-edit-section__survival-proficient { grid-area: 20 / 4; }
.skills-edit-section__survival-override { grid-area: 20 / 5; }
