.speed-show-section {
  min-width: 0;
}

.speed-edit-section {
  display: grid;
  grid-template-columns: 90px auto auto auto auto;
  grid-template-rows: auto auto auto auto auto 5px auto auto;
  grid-column-gap: 5px;
  align-items: center;
}

.speed-edit-section__speed-label { grid-area: 1 / 1; }

.speed-edit-section__walk-label { grid-area: 1 / 2; }
.speed-edit-section__walk-input { grid-area: 1 / 3; }
.speed-edit-section__walk-unit { grid-area: 1 / 4; }

.speed-edit-section__burrow-label { grid-area: 2 / 2; }
.speed-edit-section__burrow-input { grid-area: 2 / 3; }
.speed-edit-section__burrow-unit { grid-area: 2 / 4; }

.speed-edit-section__climb-label { grid-area: 3 / 2; }
.speed-edit-section__climb-input { grid-area: 3 / 3; }
.speed-edit-section__climb-unit { grid-area: 3 / 4; }

.speed-edit-section__fly-label { grid-area: 4 / 2; }
.speed-edit-section__fly-input { grid-area: 4 / 3; }
.speed-edit-section__fly-unit { grid-area: 4 / 4; }
.speed-edit-section__hover-container { 
  grid-area: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.speed-edit-section__swim-label { grid-area: 5 / 2; }
.speed-edit-section__swim-input { grid-area: 5 / 3; }
.speed-edit-section__swim-unit { grid-area: 5 / 4; }

.speed-edit-section__use-custom-input {
  grid-area: 7 / 1;
  justify-self: end;
}
.speed-edit-section__custom-label { grid-area: 7 / 2 / 8 / 6; }
.speed-edit-section__custom-text-help-tooltip {
  grid-area: 8 / 1;
  justify-self: end;
  align-self: end;
}
.speed-edit-section__custom-input { grid-area: 8 / 2 / 9 / 6; }
