.title-show-section {
  min-width: 0;
}

.title-show-section__title-text {
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT',
               'Bookman Old Style', Bookman, 'Goudy Old Style',
               Garamond, 'Hoefler Text', 'Bitstream Charter',
               Georgia, serif;
  color: #7A200D;
  font-size: 23px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0;
}

.title-show-section__subtitle-text {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin: 0;
}

.title-edit-section {
  display: flex;
  flex-direction: column;
}

.title-edit-section__label {
  color: #7A200D;
}

.title-edit-section__title-input {
  height: 30px;
}

.title-edit-section__meta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.title-edit-section__short-name-help-tooltip {
  --help-tooltip-icon-color: #7A200D;
  --help-tooltip-width: 35em;
  margin-left: 5px;
}

.title-edit-section__short-name-help-tooltip code {
  background: white;
}

.title-edit-section__short-name-help-tooltip-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-edit-section__short-name-help-tooltip-table-container table {
  background: white;
}

.title-edit-section__short-name-help-tooltip-table-container th {
  text-decoration: underline;
}

.title-edit-section__short-name-help-tooltip-table-container th, td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.title-edit-section__short-name-input {
  min-width: 0;
  flex: 1 1 5em;
  margin-left: 5px;
}

.title-edit-section__proper-noun-input {
  margin-left: 10px;
}

.title-edit-section__proper-noun-label {
  margin-left: 5px;
}

.title-edit-section__proper-noun-help-tooltip {
  --help-tooltip-icon-color: #7A200D;
  --help-tooltip-width: 35em;
  margin-left: 5px;
}

.title-edit-section__proper-noun-help-tooltip code {
  background: white;
}

.title-edit-section__subtitle-container {
  display: grid;
  grid-template-columns: auto auto minmax(0, 1fr) auto;
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  margin-top: 5px;
}

.title-edit-section__size-label { grid-area: 1 / 1; }
.title-edit-section__type-label { grid-area: 1 / 2; }
.title-edit-section__tags-label { grid-area: 1 / 3; }
.title-edit-section__alignment-label { grid-area: 1 / 4; }

.title-edit-section__size-input { grid-area: 2 / 1; }
.title-edit-section__type-input { grid-area: 2 / 2; }
.title-edit-section__tags-input { grid-area: 2 / 3; }
.title-edit-section__alignment-input { grid-area: 2 / 4; }
