.title-show-section {
  min-width: 0;
}

.title-show-section__title-text {
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT',
               'Bookman Old Style', Bookman, 'Goudy Old Style',
               Garamond, 'Hoefler Text', 'Bitstream Charter',
               Georgia, serif;
  color: #7A200D;
  font-size: 23px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0;
}

.title-edit-section {
  display: flex;
  flex-direction: column;
}

.title-edit-section__label {
  color: #7A200D;
}

.title-edit-section__title-input {
  height: 30px;
}

.title-edit-section__meta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.title-edit-section__short-name-help-tooltip {
  --help-tooltip-icon-color: #7A200D;
  --help-tooltip-width: 35em;
  margin-left: 5px;
}

.title-edit-section__short-name-help-tooltip code {
  background: white;
}

.title-edit-section__short-name-help-tooltip-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-edit-section__short-name-help-tooltip-table-container table {
  background: white;
  border: 2px solid #aaaaaa;
}

.title-edit-section__short-name-help-tooltip-table-container th {
  text-decoration: underline;
}

.title-edit-section__short-name-help-tooltip-table-container th, td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.title-edit-section__short-name-input {
  min-width: 0;
  flex: 1 1 5em;
  margin-left: 5px;
}

.title-edit-section__proper-noun-input {
  margin-left: 10px;
}

.title-edit-section__proper-noun-label {
  margin-left: 5px;
}

.title-edit-section__proper-noun-help-tooltip {
  --help-tooltip-icon-color: #7A200D;
  --help-tooltip-width: 30em;
  margin-left: 5px;
}

.title-edit-section__proper-noun-help-tooltip code {
  background: white;
}