:host {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
  line-height: 1.5;
  display: block;
}

.display-block-list-item__name {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-style: italic;
}

.display-block-list-item__name_no-italic {
  font-style: normal;
}

.display-block-list-item__text:first-of-type {
  display: inline;
  text-indent: 0;
  white-space: pre-wrap;
}

.display-block-list-item__text {
  text-indent: 1em;
  margin: 0;
}