.draggable-list-item__container {
  border: 1px solid Gray;
}

.draggable-list-item__container_dragover-top {
  border-top: solid 10px DodgerBlue;
}

.draggable-list-item__container_dragover-bottom {
  border-bottom: solid 10px DodgerBlue;
}