.editable-block-list-item__container {
  display: grid;
  grid-template-columns: 24px auto 50px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}

.editable-block-list-item__drag-handle {
  grid-area: 1 / 1;
}

.editable-block-list-item__name {
  grid-area: 1 / 2;
  width: 100%;
  font-weight: bold;
  font-style: italic;
}

.editable-block-list-item__name_no-italic {
  font-style: normal;
}

.editable-block-list-item__remove-button {
  grid-area: 1 / 3;
  padding: 0 10px;
}

.editable-block-list-item__sidebar {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editable-block-list-item__help-tooltip {
  --help-tooltip-icon-color: #7A200D;
  --help-tooltip-width: 50em;
}

.editable-block-list-item__help-tooltip code {
  background: white;
}

.editable-block-list-item__help-tooltip table {
  margin-left: 2em;
}

.editable-block-list-item__textarea {
  grid-area: 2 / 2 / 3 / 4;
  resize: none;
}

.editable-block-list-item__preview {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0;
}

.editable-block-list-item__name-preview {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-style: italic;
}

.editable-block-list-item__text-preview {
  display: inline;
  text-indent: 0;
  margin: 0;
  white-space: pre-wrap;
}