.editable-block-list-item__container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.editable-block-list-item__header {
  display: flex;
  flex-direction: row;
}

.editable-block-list-item__name {
  width: 100%;
  font-weight: bold;
  font-style: italic;
}

.editable-block-list-item__remove-button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.editable-block-list-item__text {
  resize: none;
  margin-top: 5px;
}