.editable-block-list-item__container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
}

.editable-block-list-item__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editable-block-list-item__name {
  width: 100%;
  font-weight: bold;
  font-style: italic;
  margin-left: 5px;
}

.editable-block-list-item__name_no-italic {
  font-style: normal;
}

.editable-block-list-item__remove-button {
  margin-left: 5px;
}

.editable-block-list-item__text {
  resize: none;
  margin-top: 5px;
}