.editable-block__container {
  display: grid;
  grid-template-columns: 24px auto 50px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
}

.editable-block__drag-handle {
  grid-area: 1 / 1;
}

.editable-block__name {
  grid-area: 1 / 2;
  width: 100%;
  font-weight: bold;
  font-style: italic;
}

.editable-block__name_no-italic {
  font-style: normal;
}

.editable-block__remove-button {
  grid-area: 1 / 3;
  padding: 0 10px;
}

.editable-block__sidebar {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: -5px;
  height: 100%;
  width: 34px;
}

.editable-block__expression-menu {
  flex: 1 1 auto;
}

.editable-block__textarea {
  grid-area: 2 / 2 / 3 / 4;
  font-family: monospace;
  resize: none;
}

.editable-block__preview-container {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0;
}

.editable-block__preview_hanging-indent {
  padding-left: 1em;
  text-indent: -1em;
}

.editable-block__preview-name {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-style: italic;
}

.editable-block__preview-name_no-italic {
  font-style: normal;
}

.editable-block__preview-text {
  display: inline;
  text-indent: 0;
  margin: 0;
  white-space: pre-wrap;
}