:host {
  display: flex;
  flex-direction: column;
}

.property-list__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.property-list__input {
  flex: 1 1 auto;
}

.property-list__add-button {
  padding: 0 12px;
  margin-left: 5px;
}