.property-list-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.property-list-item__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
