.property-list-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.property-list-item__label {
  text-align: center;
}

.property-list-item__remove-button {
  padding: 0 12px;
}
