.help-tooltip__icon-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.help-tooltip__icon {
  color: var(--help-tooltip-icon-color);
  cursor: help;
}

.help-tooltip__text {
  position: absolute;
  z-index: 2;
  display: none;
  background: #ffffaa;
  color: black;
  border: 2px solid black;
  white-space: normal;
  width: var(--help-tooltip-width);
  padding: 5px;
}

.help-tooltip:hover .help-tooltip__text {
  display: block;
}

::slotted(h4) {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(p) {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(ul) {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(blockquote) {
  display: inline-block;
  background: white;
  border: 2px solid #aaaaaa;
  font-family: monospace;
  white-space: pre-wrap;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.5em;
}

::slotted(cite) {
  font-style: italic;
}