.help-tooltip__icon-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.help-tooltip__icon {
  color: #7A200D;
  cursor: help;
}

.help-tooltip__text {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  background: #eeeeee;
  color: black;
  border: 1px solid black;
  white-space: normal;
  width: var(--help-tooltip-width);
  padding: 5px;
}

.help-tooltip:hover .help-tooltip__text {
  visibility: visible;
}

::slotted(h4) {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(p) {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(ul) {
  margin-top: 0;
  margin-bottom: 0;
}

::slotted(blockquote) {
  background: white;
  border-radius: 3px;
  font-family: monospace;
  padding: 0 3px;
  white-space: pre-wrap;
}

::slotted(cite) {
  font-style: italic;
}

